#layoutComponent {
  height: 100%;
  header {
    height: 80px;
  }
  main {
    flex-grow: 1;
    #totalTime {
      margin-bottom: 34px;
    }
    #timeButton {
      width: 200px;
      height: 42px;
      border-radius: 8px;
    }
  }
}
